@font-face {
    font-family: 'ClashGrotesk';
    src: url('ClashGrotesk_Complete/ClashGrotesk-Semibold.otf') format('truetype');
    font-weight: normal;
}

.carousel-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-slides {
    list-style: none;
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 1.5s ease;
    color: #fff;
}

.slide {
    position:absolute;
    flex: 0 0 100%;
    width: 100%;
    height: 90%;
    opacity:0;
    transition: opacity 0.7s ease-in-out;
    transition: background-size 3s ease-in-out, opacity 0.7s ease-in-out;
    display:flex;
    justify-content: center;
    background-size:100% ; 
    background-position: center; 
    background-color: rgba(0, 0, 0, 0.5);
}

.slideVisual{
    width: 100%;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.text{
    margin-top: 8vh;
    font-family:'ClashGrotesk';
    font-size: 70px;
    opacity: 0.5;
    transition: all 3s;
    text-align: center;
    text-wrap: wrap;
    padding: 0px 30px;
    transform:scale(0.7);
}

.bottle{
    transform: translateY(150px);
    transition: all 2s;
    aspect-ratio: 9/16;
    height:750px;
    width:421px;
    z-index: 2;
}

.ski{
    left:0;
    top:30%;
    position: absolute;
    z-index: 1;
    transition: all 2s;
}

/* slide ids, add more as needed, just needed for background image url */

#slide1{
    background-image: url('nature3.png'); /* Replace 'your-image.jpg' with your actual image URL */
}

#slide2{
    background-image: url('dumbbells-fitness.png'); /* Replace 'your-image.jpg' with your actual image URL */

}

/* ------ action classes ----- */

.zoom{
    background-size:120%;
}

.active{
    opacity:1;
}

.textactive{
    opacity: 1;
    transform:scale(1);
    z-index: 2;
}

.moveup{
    transform: translateY(0px);
}

.skimove{
    transform: translateX(100%) translateY(-20%);
}


/* ---------- media queries ----------------- */


@media (max-width:1100px) {
    .slide{
        background-size:auto 100% ; /* Scale the background image to cover the entire element */
    }
    .zoom{
        background-size:auto 120%;
    }
}

@media (max-width:1000px) {
    .bottle{
        height: 500px;
        width: 281px;
    }
    .text{
        font-size:48px;
        line-height: 48px;
    }
}

@media (max-height:800px){
    .bottle{
        height: 500px;
        width: 281px;
    }
    .text{
        font-size:48px;
        line-height: 48px;
        margin-top: 3vh;
    }

}


